# -------------------------------
# FICHIERS ET DOSSIERS NON SUIVIS
# -------------------------------

# -------------------------------
# macOS
.DS_Store
**/.DS_Store
Thumbs.db


# -------------------------------
# Projet
.qtcreator
build/
build2/
dist/
z_*/
z_*.*